@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background: #E5E8E8;
	min-height: 200vh;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background:#000 ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 20px 100px;
	z-index: 100000;
}
.sticky
{
	padding: 5px 100px;
	background: #FF8C30;
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
header ul li{
	left: 5%;
	position: relative;
	list-style: none;
}
header ul li a{
	
	position: relative;
	margin: 0 10px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.5s;
}
header ul li a:hover{
	color: #FF8C30;
	font-weight: 200;
	font-size: 1em;
}
img{
	position: absolute;
	top: 150px;
	right: 50px;
	width: 200px;
}
.sidenav {
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 120px;
  left: 30px;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 20px;
  overflow: hidden;

}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #000;
  display: block;
  overflow: hidden;
}

.sidenav a:hover {
  color: #FF8C30;
}

.main-box1 {
  height: 270px;
  width: 700px;
  position: absolute;
  top: 120px;
  left: 320px;
  background-color: #fff;
  overflow-x: hidden;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.main-box1 h1 a{
	margin:10px;
	position: absolute;
	top:10px;
	left: 0px;
	font-size:45px;
	color:#FF8C30;
	font-weight: 400;
	text-decoration: none;
}
.main-box1 h2{
	position: absolute;
	top: 80px;
	margin: 10px;
	font-size: 20px;
	color: #707B7C ;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}
.main-box1 p{
	margin:10px;
	position: absolute;
	top: 120px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;

}
.main-box1 a{
	text-decoration:none;
	position: absolute;
	top: 160px;
	left: 170px;
}
.main-box2 {
  height: 270px;
  width: 700px;
  position: absolute;
  top: 430px;
  left: 320px;
  background-color: #fff;
  overflow-x: hidden;
  box-shadow: 3px 3px 5px 6px #ccc;
}
.main-box2 h1 a{
	margin:10px;
	position: absolute;
	top:10px;
	left: 0px;
	font-size:45px;
	color:#FF8C30;
	font-weight: 400;
	text-decoration: none;
}
.main-box2 h2{
	position: absolute;
	top: 80px;
	margin: 10px;
	font-size: 20px;
	color: #707B7C ;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
}
.main-box2 p{
	margin:10px;
	position: absolute;
	top: 120px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;

}
.main-box2 a{
	text-decoration:none;
	position: absolute;
	top: 160px;
	left: 65px;
}
.sticky ul li a{
	color: #000;
}
.sticky ul li a:hover{
	color: #fff;
	font-weight: 200;
	font-size: 1em;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background:#D8D8D8 ;
	transition: 0.6s;
	padding: 20px 100px;
	z-index: 2;
}
.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  overflow: hidden;
}
.panel ul{
	overflow: hidden;
}

.active, .accordion:hover {
  background-color: #FF8C30; 
}
