@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/*#28B463*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	background: #fff;
	min-height: 200vh;
}
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background:#000 ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 20px 100px;
	z-index: 100000;
}
.sticky
{
	padding: 5px 100px;
	background: #FF8C30;
}
header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}
header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

}
header ul li{
	left: 5%;
	position: relative;
	list-style: none;
}
header ul li a{
	
	position: relative;
	margin: 0 10px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.5s;
}
header ul li a:hover{
	color: #FF8C30;
	font-weight: 800;
	font-size: 2em;
}
img{
	
	width: 100%;
	height: auto;
	opacity: 0.8;
}
.sticky ul li a{
	color: #000;
}
.sticky ul li a:hover{
	color: #fff;
	font-weight: 800;
	font-size: 2em;
}